.container {
  position: absolute;
  .snake_head {
    position: absolute;
    background-image: url("../../../public/assets/head.png");
    background-size: cover;
    box-shadow: 0 0 2px 2px rgba(128, 128, 128, 0.3);
  }
  .body {
    position: absolute;
    background-image: url("../../../public/assets/SnakeBody.png");
    background-size: cover;
    box-shadow: 0 0 2px 2px rgba(128, 128, 128, 0.3);
  }
}
