@import url("https://fonts.googleapis.com/css2?family=VT323&display=swap");
.container {
  position: relative;
  //move it to parent width and height
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background-image: url("../../../public/assets/background.png");
  background-size: contain;
  background-repeat: repeat;
  .score {
    z-index: 10;
    top: 10px;
    left: 10px;
    position: absolute;
    background-color: rgba(0, 0, 0, 0.192);
    padding: 10px 20px;
    color: white;
    font-size: 1.5em;
    border-radius: 8px;
    font-family: "VT323", monospace;
  }
  .wallHorizontal {
    position: absolute;
    background-image: url("../../../public/assets/wall.jpg");
    background-size: contain;
    background-repeat: repeat;
  }
  .wallVertical {
    position: absolute;
    background-image: url("../../../public/assets/wall.jpg");
    background-size: contain;
    background-repeat: repeat;
  }
  .board_game_container {
    position: relative;
    .board_game {
      z-index: 10;
      position: relative;
      background-color: red;
      background-image: url("../../../public/assets/boardGame.png");
      background-size: contain;
      background-repeat: repeat;
    }
  }
}
